@font-face {
	font-family: 'Circe';
  font-weight: 800;
	src: local('Circe-ExtraBold'), local('Circe-ExtraBold'),
		url('../fonts/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: 'Circe';
  font-weight: 400;
	src: local('Circe-Regular'), local('Circe-ExtraBold'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: 'Circe';
  font-weight: 700;
	src: local('Circe-Bold'), local('Circe-ExtraBold'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.woff2') format('woff2');
  font-display: swap;
}