@media (max-width: 1000px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      background-color: #5478e9;
    }
    &__list {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      right: 0;
      text-align: center;
      top: 100px;
      background-color: #5478e9;
      pointer-events: none;
      opacity: 0;
      transform: translateY(50%);
      transition: all 0.3s ease-out;
      &.menu__list--active {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0%);
      }
    }
    &__item + .menu__item {
      margin-left: 0;
    }
    .menu__list {
      padding: 25px 0 10px;
    }
    &__link {
      display: block;
      width: 100%;
      padding: 10px 0;
    }
    &__logo {
      margin-left: 50px;
    }
    &__logo,
    &__btn {
      display: block;
    }
    &__social {
      position: static;
    }
  }
}

@media (max-width: 900px) {
  .menu {
    padding: 20px 15px;
    &__list {
      top: 85px;
    }
  }
  .header {
    &__box-text {
      flex-direction: column;
    }
    &__title {
      font-size: 48px;
      line-height: 54px;
      max-width: 340px;
      margin-right: 5px;
    }
    &__year {
      font-size: 200px;
      span {
        bottom: 70px;
        right: -20px;
        font-size: 35px;
        line-height: 42px;
        &::after {
          width: 50px;
          height: 50px;
          top: -5px;
          left: -15px;
        }
      }
    }
    &__text {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 19px;
      max-width: 300px;
      padding-left: 0;
      &::after {
        content: "";
        height: 58px;
        width: 4px;
      }
    }
    &__link {
      font-size: 18px;
      padding: 13px 30px;
    }
  }
}
@media (max-width: 600px) {
  .menu {
    padding: 20px 15px;
    &__social-link + .menu__social-link {
      margin-left: 10px;
    }
    &__logo {
      margin-left: 0;
    }
    &__social {
      img {
        width: 27px;
      }
      .menu__social-phone {
        width: 24px;
      }
    }
  }
}
@media (max-width: 520px) {
  .header {
    &__box-title {
      padding-left: 0;
    }
    &__title {
      font-size: 30px;
      line-height: 30px;
      max-width: 220px;
      margin-right: 5px;
    }
    &__year {
      font-size: 122px;
      line-height: 150px;
      margin-top: 20px;
      span {
        bottom: 65px;
        right: -18px;
        font-size: 22px;
        line-height: 19px;
        &::after {
          width: 28px;
          height: 28px;
          left: -9px;
        }
      }
    }
    &__box-text {
      margin-top: -35px;
      margin-left: 0;
    }
    &__text {
      margin-left: 15px;
    }
    &__link {
      padding: 13px 20px;
    }
  }
}
